<div class="min-h-screen flex flex-col">
  <header class="w-full p-4 flex justify-center">
    <img src="<%= asset_path 'logo_improved.svg' %>" alt="ChaosMagic Logo" class="h-12">
  </header>

  <main class="flex-grow flex flex-col gap-4 items-center justify-between p-4" data-controller="card-animation">
    <!-- Top Row: Damage/Mill, Chaos Roll, Next Turn Button -->
    <div class="w-full flex items-stretch justify-end gap-4 mb-4">
      <!-- Damage/Mill Box -->
      <%= render 'shared/roll_card', label: "Damage/Mill", roll: @damage_roll %>

      <!-- Chaos Roll Box -->
      <%= render 'shared/roll_card', label: "Chaos Roll", roll: @chaos_roll %>

      <!-- Next Turn Button -->
      <button class="bg-blue-500 hover:bg-blue-700 border-2 border-gray-300 dark:border-gray-600 text-white font-bold rounded-lg shadow-md transition duration-300 ease-in-out flex-grow flex-1 h-20" data-action="card-animation#spin">
        Next Turn
      </button>
    </div>

    <!-- Central Card Area -->
    <div class="flex items-center justify-center w-full transform-gpu overflow-hidden will-change-transform transform-origin-center relative [perspective:100rem]">
      <%= render 'shared/magic_card',
                 title: @card.title,
                 type: @card.card_type,
                 image_url: "https://cards.scryfall.io/art_crop/front/4/d/4d3de66c-2283-458f-9d0d-943027520aa2.jpg?1592709402",
                 body: @card.oracle_text,
                 flavor: @card.flavor_text %>
    </div>

    <!-- Global Status Effects -->
    <div class="w-full mt-4">
      <h2 class="text-center text-lg font-semibold mb-2">Global Effects</h2>
      <div class="flex justify-center space-x-4">
        <%= render 'shared/status_effect', label: "deathtouch", icon: "token_icons/deathtouch_icon_2.svg" %>
        <%= render 'shared/status_effect', label: "deathtouch", icon: "token_icons/deathtouch_icon_2.svg" %>
        <%= render 'shared/status_effect', label: "deathtouch", icon: "token_icons/deathtouch_icon_2.svg" %>
      </div>
    </div>
  </main>
</div>
