<div class="min-h-screen flex flex-col">
  <%= render 'shared/header' %>

  <main class="flex-grow flex flex-col gap-4 items-center justify-between p-4" data-controller="card-animation">
    <!-- Top Row: Damage/Mill, Chaos Roll, Next Turn Button -->
    <div class="w-full flex items-stretch justify-end gap-4 mb-4">
      <!-- Damage/Mill Box -->
      <div id="damage_roll" class="flex-grow flex-1">
        <%= render 'shared/roll_card', label: "Damage/Mill", roll: @damage_roll %>
      </div>

      <!-- Chaos Roll Box -->
      <div id="chaos_roll" class="flex-grow flex-1">
        <%= render 'shared/roll_card', label: "Chaos Roll", roll: @chaos_roll %>
      </div>

      <!-- Next Turn Button -->
      <div class="flex-grow flex-1">
        <%= button_to "Next Turn", next_turn_game_path(@game), method: :post, data: { action: "card-animation#spin" }, class: "bg-blue-500 hover:bg-blue-700 border-2 border-gray-300 dark:border-gray-600 text-white font-bold rounded-lg shadow-md transition duration-300 ease-in-out w-full h-20" %>
      </div>
    </div>

    <!-- Central Card Area -->
    <div id="current_card" data-card-animation-target="cardContainer" class="flex items-center justify-center w-full transform-gpu overflow-hidden will-change-transform transform-origin-center relative [perspective:100rem]">
      <%= render 'shared/magic_card',
                 title: @card.title,
                 type: @card.card_type,
                 image_url: "https://cards.scryfall.io/art_crop/front/4d3de66c-2283-458f-9d0d-943027520aa2.jpg?1592709402",
                 body: @card.oracle_text,
                 flavor: @card.flavor_text %>
    </div>

    <!-- Global Status Effects -->
    <div class="w-full mt-4">
      <h2 class="text-center text-lg font-semibold mb-2">Global Effects</h2>
      <div class="flex justify-center space-x-4">
        <% @game.global_effects.each do |effect| %>
          <%= render 'shared/status_effect', label: effect, icon: "token_icons/deathtouch_icon_2.svg" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
